body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #fdfdfd;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000000;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    background-color: #e53e3e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 4rem 1rem;
    position: relative;
}

.hero h1 {
    font-size: 4rem;
    font-weight: lighter;
    opacity: 0.5;
    margin: 0;
    font-style: italic;
}

.hero .card {
    padding: 2rem;
    border-radius: 9999px;
    display: inline-block;
    margin-top: 2rem;
}

.hero .card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #000;
}

.hero .card h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.hero .card a {
    background-color: #181C29;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
}

.hero .card p {
    color: #777;
    font-style: italic;
    margin: 0.5rem 0;
}

.about {
    background-color: #e33e3e;
    padding: 4rem 1rem;
    display: grid;

}

.about .container {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container img {

    max-width: 100%;
    border-radius: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Footer */
footer {
    background-color: #e53e3e;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
